body {
    text-align: center;
}

h2 {
    font-size: 200%;
}

.top_part {
    height: 20rem;
    background-image: url("images/background.jpg");
    padding-top: 9rem;
    font-size: 250%;
}

.middle_part {
    background-color: #FEFBE7;
    padding-top: 10px;
    
}

.about_me {
    height: 280px;
    text-align: left;
    width: 50%;
    margin: 100px auto 100px auto;
}

.about_me_img {
    float: left;
}

.services {
    height: 280px;
    text-align: right;
    width: 50%;
    margin: 100px auto 100px auto;
}

.services_img {
    float: right;
}

.meet {
    height: 280px;
    text-align: left;
    width: 50%;
    margin: 100px auto 0px auto;
}

.meet_img {
    float: left;
}

.bottom_part {
   text-align: left;
    height: 20rem;
    background-color: #F9EBC8;
    padding-top: 2rem;
}

.kontakty {
    width: 70%;
    margin: 0px auto 0px auto;
}